@use '../basic-styles/basic-app-styles.scss' as *;
@use './_breakpoints.scss' as *;
@use '../mixins/_test.scss' as *;
@media (min-width: $breakpoint-large-screen) {
  body {
    .root {
      height: 100svh;
      .test1 {
        @include flex-center;
        background-color: $orange;
        p {
          color: $green;
        }
      }
    }
  }
}
