@use '../basic-styles/basic-app-styles.scss' as *;
@use './_breakpoints.scss' as *;
@use '../mixins/_test.scss' as *;
@media (min-width: $breakpoint-desktop) {
  body {
    .root {
      height: 100svh;
      @include flex-column-between;
      .test1 {
        @include flex-center;
        background-color: $purple;
        p {
          color: $gold;
        }
      }
    }
  }
}
