@use '../basic-styles/basic-app-styles.scss' as *;
@use './_breakpoints.scss' as *;
@use '../mixins/app-mixins.scss' as *;
@media (min-width: $breakpoint-small) {
  body {
    .card-component {
      @include flex-column-evenly;
      height: 100svh;
      .card-image-area {
        @include flex-row-center;
        padding: 3em;
        background-image: url(../images/pattern-bg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &__image {
          position: relative;
          display: block;
          width: 100%;
          border-radius: 8%;
          object-fit: contain;
          z-index: 0;
          box-shadow: 1em 5em 3.3em -3.7em $dark-blue-color;
        }
        
      }
      .card-description {
        @include flex-column-center;
        gap: 1em 0;
        padding: 1em 0.5em 0.5em 0.5em;
        &__about-person {
          color: $dark-blue-color;
          max-width: 200ch;
          text-align: center;
        }
        .card-person-signature {
          &__person-name {
            color: $dark-blue-color;
            font-weight: $font-bold-weight;
          }
          &__person-job {
            color: $grayish-blue-color;
          }
        }
      }
    }
  }
}
